@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Handlee&family=Just+Another+Hand&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-btn: "Handlee", cursive;
  --font-title: "Just Another Hand", cursive;
  --font-main: "Roboto", cursive;
  --font-semiMain: "Roboto Mono", cursive;
  --accent: #1d6bd7;
}
body {
  background-color: #e7e5e4;
}

.animate-marquee-horizontal {
  animation: marquee-horizontal linear infinite;
  animation-duration: var(--marquee-duration, 40000ms);
}

.animate-scroll-rtl {
  direction: rtl;
}

.animate-scroll-ltr {
  direction: ltr;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease forwards;
}
